---
import BaseLayout from '@layouts/BaseLayout.astro'
import PrimaryCTA from '@components/ui/buttons/PrimaryCTA.astro'
import { SITE } from '@/config'

const pageTitle: string = `Kontak | ${SITE.title}`

const title: string = 'Kontak Kami'
const subTitle: string = 'Silahkan tinggalkan pesan untuk kami'
---

<BaseLayout title={pageTitle}>
    <section class="grid h-svh place-content-center">
        <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="text-dark mb-4 text-7xl font-extrabold text-yellow-500 dark:text-yellow-400 lg:text-9xl">
                    {title}
                </h1>
                <p class="mb-4 text-balance text-3xl font-bold tracking-tight text-neutral-700 dark:text-neutral-300 md:text-4xl">
                    {subTitle}
                </p>
script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-7a15a17e-f27b-4af5-9f62-5b9f43087dd2" data-elfsight-app-lazy></div>
            </div>
        </div>
    </section>
</BaseLayout>
